body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 150px;
    background-image: url('images/bgPic4.jpg');
   
    background-size: auto;
    background-position: center;
    font-family: 'goofy', Arial, Helvetica, sans-serif;
   
    
}

.d-none {
    display: none;
}


h1 {
    font-size: 5em;
    color:rgb(252, 207, 85);
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

}

@font-face {
    font-family: 'goofy';
    src: url('fonts/goofy.ttf') format('truetype');
}

canvas {
    display: block;
    background-color: rgb(0, 0, 0);
margin: auto;
    border-radius: 20px;
    box-shadow: 4px 2px 8px rgba(0, 0 , 0, 0.5);
}

#startScreen {

    width: 720px;
    height: 480px;
    background-image: url(images/start1.png);
    background-color: rgb(0, 0, 0);

    border-radius: 20px;
    box-shadow: 4px 2px 8px rgba(0, 0 , 0, 0.5); 
}

.button {
    font-family: 'goofy';
    letter-spacing: 2px;
    font-size: 2em;
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(1, 62, 111);
    border: 1px solid white;
    cursor: pointer;
}

.button:hover {
background-color: rgb(52, 126, 93) ;
box-shadow: 4px 2px 8px rgba(0, 0 , 0, 0.5); 
}

#start{
    margin-top: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }

}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
}